
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0.858);
  /* background-image: url(https://images.pexels.com/photos/4068029/pexels-photo-4068029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
}
@media only screen and (min-width: 768px) {
  body {
    background-image: url(https://images.pexels.com/photos/2883049/pexels-photo-2883049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(https://images.pexels.com/photos/4465146/pexels-photo-4465146.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: bottom;
    background-size: 350px;
    background-repeat: repeat;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.blanco {
  color: rgb(228, 7, 7);
  font-size: 1.5rem; /* Tamaño grande */
  font-weight: bold; /* Negrita */
}

.not-found {
  color: rgb(255, 174, 0);
}
.not-found strong {
  font-weight: bold;
  font-size: 1.5rem;
}

.divActualizador {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #66c2ff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.divActualizador p {
  font-size: 18px;
  margin-bottom: 10px;
}

.button-actualizar {
  background-color: #fff;
  color: #f00;
  border: 2px solid #f00;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.button-actualizar:hover {
  background-color: #f00;
  color: #fff;
}

.divActualizador p {
  font-size: 18px;
  margin-bottom: 10px;
}

.button-actualizar {
  background-color: #fff;
  color: #f00;
  border: 2px solid #f00;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.button-actualizar:hover {
  background-color: #f00;
  color: #fff;
}
